<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btb.briefcaseservice.persistence.mapper.AssetsGroupsMapper">

    <cache/>

    <resultMap id="resultMap" type="com.btb.briefcaseservice.entity.AssetsGroups">

        <id property="id" column="ID" javaType="Long" jdbcType="BIGINT" />

        <result property="name" column="NAME" javaType="String" jdbcType="VARCHAR" />

        <result property="description" column="DESCRIPTION" javaType="String" jdbcType="VARCHAR" />

        <result property="isEnabled" column="IS_ENABLED" javaType="Boolean" jdbcType="BIT" />

    </resultMap>

    <sql id="selectColumnNamesClause">
        RES.ID,
        RES.NAME,
        RES.DESCRIPTION,
        RES.IS_ENABLED
    </sql>

    <sql id="whereFilteredClause">
        <if test="id != null">
            AND RES.ID=#{id}
        </if>
        <if test="name != null">
            AND RES.NAME=#{name}
        </if>
        <if test="description != null">
            AND RES.DESCRIPTION=#{description}
        </if>
        <if test="isEnabled != null">
            AND RES.IS_ENABLED=#{isEnabled}
        </if>
    </sql>

    <sql id="insertColumnNamesClause">
        NAME,
        DESCRIPTION,
        IS_ENABLED
    </sql>

    <sql id="insertValuesClause">
        #{name},
        #{description},
        #{isEnabled}
    </sql>

    <sql id="updateSetClause">
        NAME=#{name},
        DESCRIPTION=#{description},
        IS_ENABLED=#{isEnabled}
    </sql>

    <select id="findById" resultMap="resultMap" parameterType="Long" useCache="true" flushCache="false">
        SELECT
        <include refid="selectColumnNamesClause" />
        FROM
        ASSET_GROUPS
        RES
        WHERE
        RES.ID=#{value}
    </select>

    <select id="findAll" resultMap="resultMap">
        SELECT
        <include refid="selectColumnNamesClause" />
        FROM
        ASSET_GROUPS
        RES
        ORDER BY
        RES.ID ASC
    </select>

    <select id="findByFilter" resultMap="resultMap" parameterType="com.btb.briefcaseservice.entity.AssetsGroups">
        SELECT
        <include refid="selectColumnNamesClause" />
        FROM
        ASSET_GROUPS
        RES
        WHERE 1=1
        <include refid="whereFilteredClause" />
        ORDER BY
        RES.ID ASC
    </select>

    <insert id="save" parameterType="com.btb.briefcaseservice.entity.AssetsGroups" useGeneratedKeys="true" keyColumn="ID" keyProperty="id" flushCache="true">
        INSERT INTO
        ASSET_GROUPS
        (
        <include refid="insertColumnNamesClause" />
        )
        VALUES
        (
        <include refid="insertValuesClause" />
        )
    </insert>

    <update id="update" parameterType="com.btb.briefcaseservice.entity.AssetsGroups" flushCache="true">
        UPDATE
        ASSET_GROUPS
        SET
        <include refid="updateSetClause" />
        WHERE
        ID=#{id}
    </update>

    <delete id="delete" parameterType="Long" flushCache="true">
        DELETE FROM
            ASSET_GROUPS
        WHERE
            ID=#{value}
    </delete>

</mapper>
